
div.widget
{
  position: relative;
  width: 455px;
  height: 200px;
  margin: 50px auto;
  background-color: #9054f0;
  border-radius: 15px;
  padding: 25px;
  padding-right: 30px;
  box-shadow: 0px 31px 35px -26px #080c21;
}

div.date
{
  font-size: 14px;
  font-weight: bold;
  color: #6f7886;
}

div.city
{
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5px;
  color: #6f7886;
}

div.temp
{
  font-size: 74.9px;
  color: #6f7886;
  font-weight: 200;
}

div.panel
{
  /* display: inline-block; */
  color: #6f7886;
}

/* div.right-panel
{
  position: absolute;
  float: right;
  top: 0;
  margin-top: 35px;
  padding-left: 10%;
} */




