.glass-card {
  flex-basis: 670px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  padding: 25px;
  padding-right: 30px;
  box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
  backdrop-filter: blur(16px);
  border: 1.5px solid #ffffff5e;
  margin-bottom: 10px;
  height: fit-content;
  flex-shrink: 1;
}

.main {
  margin-top: 20px;
  margin: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
}

/* .left-container{
  position: absolute;
  width: 100%;
  left: 15px;
  top: 15px;
  margin: 45px 30px;
} */

/* .right-container{
  position: absolute;
  width: 44%;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 25px;
  box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
  backdrop-filter: blur(10px);
  border: 1.5px solid #ffffff5e;
  right: 0;
  border-radius: 15px;
  margin: 60px;
} */

#background-video {
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: fixed; /* optional depending on what you want to do in your app */
  object-fit: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
}

.gallery__img {
  width: 10%;
  height: 10%;
  object-fit: cover;
}

/* canvas{
  background-color: #48D1CC;
} */
